# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project exclude paths
/out_libs/al2o3_cadt_LICENSE
/out_libs/al2o3_catch2_LICENSE
/out_libs/al2o3_cmath_LICENSE
/out_libs/al2o3_lz4_LICENSE
/out_libs/al2o3_memory_LICENSE
/out_libs/al2o3_miniz_LICENSE
/out_libs/al2o3_os_LICENSE
/out_libs/al2o3_platform_LICENSE
/out_libs/al2o3_sstl_LICENSE
/out_libs/al2o3_stb_LICENSE
/out_libs/al2o3_syoyo_LICENSE
/out_libs/al2o3_tinystl_LICENSE
/out_libs/al2o3_vfile_LICENSE
/out_libs/data_binify_LICENSE
/out_libs/data_binnybundle_LICENSE
/out_libs/data_binnybundlewriter_LICENSE
/out_libs/data_bufferutils_LICENSE
/out_libs/gfx_image_impl_basic_LICENSE
/out_libs/gfx_image_LICENSE
/out_libs/gfx_imageformat_LICENSE
/out_libs/gfx_imageio_LICENSE
/out_libs/utils_misccpp_LICENSE
/out_libs/utils_simple_logmanager_LICENSE
/out_bin/log.log
/out_bin/taylor

# Project exclude paths
/cmake-build-debug/
# Project exclude paths
/cmake-build-release/CMakeFiles/